:root {
    --sidebar-width: 300px;

    --light-gray: lightgray;
    --gray: gray;
    --orange: #FF9636;
    --yellow: #FFCD58;
    --green: #DAD870;
    --red: #FF5C4D;
}

:root.sidebar-hidden {
  --sidebar-width: 0px;
}

body {
  line-height: 1.45;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

#search-results ol {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

nav.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  margin: 0;
}

.sidebar-hidden nav.sidebar {
  display: none;
}

nav .sidebar-scrollbox {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

nav ul ul {
  padding-left: 15px;
  list-style-type: none;
}

nav ul {
  padding-left: 0px;
  list-style-type: none;
}

section {
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
}

.nav-chapter-previous, .nav-chapter-next {
  height: 100%;
  font-size: 2.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 150px;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--light-gray);
}

.nav-chapter-previous:hover, .nav-chapter-next:hover {
  color: var(--gray);
}

.nav-chapter-previous {
  float: left;
}

.nav-chapter-next {
  float: right;
  right: 0;
}

.nav-top {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--light-gray);
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
}

.nav-top button, .nav-top a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: var(--light-gray);
    margin: 0;
    margin-right: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 0px;
    background-color: white;
}

.nav-top button:hover, .nav-top a:hover {
  color: var(--gray);
}

button.sidebar-toggle {
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .nav-chapter-previous, .nav-chapter-next {
    display: none;
  }
}

/* @media only screen and (max-width: 1380px) { */
/*   .sidebar-visible .nav-chapter { position: static; } */
/* } */

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  padding: 0em 1em 20em 1em;
  text-align: justify;
}


main .admonition {
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;
}

main .attention, main .caution, main .warning {
  background-color: var(--orange);
}

main .danger, main .errror {
  background-color: var(--red);
}

main .hint, main .tip {
  background-color: var(--green);
}

main .important, main .note {
  background-color: var(--yellow);
}

main table, main th, main td {
  border: 2px solid var(--gray);
  border-collapse: collapse;
}

main th, main td {
  padding: 0.75em;
}

main > h1 {
  font-size: 2.5rem;
}

main > h2, main > h3, main > h4, main > h5, main > h6 {
  margin-top: 2em;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
  padding: 0.25em;
  border-radius: 6px;
  padding: 5px;
}

code.language-ShellSession .hljs-meta,
code.language-shellsession .hljs-meta,
code.language-Shell .hljs-meta,
code.language-shell .hljs-meta,
code.language-Console .hljs-meta,
code.language-console .hljs-meta {
  user-select: none;
}
