:root {
    --sidebar-width: 300px;
}

body {
  line-height: 1.45em;
  font-family: "Open Sans", sans-serif
}

#search-results ol {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  margin: 0;
}

nav .sidebar-scrollbox {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

nav ul ul {
  padding-left: 15px;
  list-style-type: none;
}

nav ul {
  padding-left: 0px;
  list-style-type: none;
}

section {
  box-sizing: border-box;
  margin-left: var(--sidebar-width);
}

section .nav-chapter {
  height: 100%;
  font-size: 2.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 150px;
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--gray);
}

section .nav-chapter:hover {
  background-color: var(--light-gray);
}

section .nav-chapter-previous {
  float: left;
}

section .nav-chapter-next {
  float: right;
  right: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  padding: 0em 1em 20em 1em;
  text-align: justify;
}

:root {
    --light-gray: lightgray;
    --gray: gray;
    --orange: #FF9636;
    --yellow: #FFCD58;
    --green: #DAD870;
    --red: #FF5C4D;
}

main .admonition {
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;
}

main .attention, main .caution, main .warning {
  background-color: var(--orange);
}

main .danger, main .errror {
  background-color: var(--red);
}

main .hint, main .tip {
  background-color: var(--green);
}

main .important, main .note {
  background-color: var(--yellow);
}

main table, main th, main td {
  border: 2px solid var(--gray);
  border-collapse: collapse;
}

main th, main td {
  padding: 0.75em;
}

main > h1 {
  font-size: 2.5rem;
}

main > h1, main > h2, main > h3, main > h4, main > h5, main > h6 {
  margin-top: 2em;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
  padding: 0.25em;
  border-radius: 6px;
  padding: 5px;
}
