:root, :root.light-theme {
  --background: white;
  --foreground: black;
  --lightest-gray: #f8f8f8;
  --light-gray: lightgray;
  --gray: gray;
  --orange: #FF9636;
  --yellow: #FFCD58;
  --green: #DAD870;
  --red: #FF5C4D;
  --link: black;
}

:root.dark-theme {
  --background: black;
  --foreground: white;
  --light-gray: gray;
  --lightest-gray: #2b2b2b;
  --gray: lightgray;
  --orange: #FF9636;
  --yellow: #FFCD58;
  --green: #DAD870;
  --red: #FF5C4D;
  --link: white;
}

@media (prefers-color-scheme: dark) { :root {
  --background: black;
  --foreground: white;
  --light-gray: gray;
  --lightest-gray: #2b2b2b;
  --gray: lightgray;
  --orange: #FF9636;
  --yellow: #FFCD58;
  --green: #DAD870;
  --red: #FF5C4D;
  --link: white;
}}


/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #d4d0ab;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35;
}

/* Yellow */
.hljs-attribute {
  color: #ffd700;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  color: #f8f8f2;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}


/* a11y-light theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #696969;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
  color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #007faa;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7928a1;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #fefefe;
  color: #545454;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}

/* end a11y-light theme */

:root.sidebar-hidden {
  --sidebar-width: 0px;
}

:root {
  --scrollbar-width: calc(100vw - 100%);
  --sidebar-width: 300px;
  --topbar-height: 50px;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  overflow-y: hidden;
}

a {
  text-decoration-color: var(--light-gray);
  color: var(--foreground);
}

input {
  color: var(--foreground);
  background-color: var(--background);
}

body {
  line-height: 1.45;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

nav.sidebar {
  height: calc(100vh - var(--topbar-height));
  position: fixed;
  overflow: auto;
  padding: 5px;
  padding-right: 20px;
  background-color: var(--background);
  max-width: 100w;
  border-right: 1px solid var(--light-gray);
}

.sidebar-hidden nav.sidebar {
  display: none;
}

nav ul ul {
  padding-left: 15px;
  list-style-type: none;
}

nav ul {
  padding-left: 0px;
  list-style-type: none;
}

.nav-chapter-previous:hover, .nav-chapter-next:hover {
  color: var(--gray);
}

.nav-chapter-previous {
  float: left;
}

.nav-chapter-next {
  float: right;
  right: 0;
}

.nav-top-container {
  display: block;
  position: sticky;
  top: 0;
  height: var(--topbar-height);
  background-color: var(--background);
}

.nav-top {
  display: grid;
  grid-template-columns:
      var(--topbar-height)
      var(--topbar-height)
      var(--topbar-height)
      var(--topbar-height)
      var(--topbar-height);
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  overflow: hidden;
  grid-column-gap: 10px;
  border-bottom: 1px solid var(--light-gray);
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
}

.nav-top button, .nav-top a {
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: var(--light-gray);
    margin: 0;
    font-family: monospace;
    font-size: 50px;
    border: none;
    background-color: var(--background);
}

.nav-top button.emoji, .nav-top a.emoji {
    font-size: 30px;
}

.nav-top button:hover, .nav-top a:hover {
  color: var(--gray);
}

button.sidebar-toggle, button.search-toggle, button.theme-toggle {
  cursor: pointer;
}

.nav-search {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
}

.search-visible nav.nav-search {
  display: block !important;
}

#search {
  width: 100%;
  font-size: 20px;
}

#search-results {
  overflow-y: auto;
  max-height: calc(60vh - var(--topbar-height));
}

#search-results ol {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--light-gray);
}

section {
  height: calc(100vh - var(--topbar-height));
  overflow: auto;
  /* scrollbar-gutter: stable; */
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  padding: 0em 1em 20em 1em;
}

main .admonition {
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;
}

main .attention, main .caution, main .warning {
  background-color: var(--orange);
}

main .danger, main .error {
  background-color: var(--red);
}

main .hint, main .tip {
  background-color: var(--green);
}

main .important, main .note {
  background-color: var(--yellow);
}

main table, main th, main td {
  border: 2px solid var(--gray);
  border-collapse: collapse;
}

main th, main td {
  padding: 0.75em;
}

main h1:first-child, nav.sidebar > h1:first-child {
  margin-top: 1rem;
}

main h1 {
    font-size: 2.5rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

main h2 {
    font-size: 2rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

main h3 {
    font-size: 1.75rem;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
}

main h4 {
    font-size: 1.5rem;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
}

main p {
  text-align: justify;
  font-size: 1rem;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

main blockquote {
  border-left: 5px solid var(--light-gray);
  margin-left: 0px;
  padding-left: 10px;
  font-size: 20px;
}

code, code.hljs {
  display: inline;
  border-radius: 5px;
  padding: 2px;
  background: var(--lightest-gray);
}

pre code, pre code.hljs {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--light-gray);
  border-style: solid;
  border-width: 1px;
  scrollbar-width: thin;
}

code.language-ShellSession .hljs-meta,
code.language-shellsession .hljs-meta,
code.language-Shell .hljs-meta,
code.language-shell .hljs-meta,
code.language-Console .hljs-meta,
code.language-console .hljs-meta {
  user-select: none;
}
