on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

name: release
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: release message
        run: |
          git fetch -f --tags
          git tag -n999 "${GITHUB_REF#refs/tags/}" > ${{ github.workflow }}-CHANGELOG.txt
      - name: release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ${{ github.workflow }}-CHANGELOG.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
