name: docs

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v22
      - name: List flake structure
        run: nix flake show
      - name: Build and test
        run: nix build -L
      - name: Lint
        uses: DoozyX/clang-format-lint-action@v0.16
        with:
          source: '.'
          extensions: 'h,c,cpp,hpp'
  test-darwin:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v22
      - name: Build and test
        run: nix build -L
